In [ ]:
#Ques1: What is a database? Differentiate between SQL and NoSQL databases.
'''A database is a collection of structured data that is organized in a way that enables efficient storage, retrieval, and manipulation of data. Databases are 
used to store and manage a wide range of information, including business transactions, customer information, product catalogs, and more. SQL (Structured Query 
Language) and NoSQL (Not Only SQL) are two main types of databases, differentiated by their data model and query language.

SQL databases are based on the relational data model, where data is organized into tables with predefined relationships between them. SQL databases use SQL, a 
standardized language for managing and querying data, to interact with the database. SQL databases are widely used in enterprise applications and are known for
their reliability, consistency, and strong support for transactions.

NoSQL databases, on the other hand, are based on non-relational data models that do not use tables with predefined relationships. NoSQL databases use different
data models, such as key-value, document-oriented, and graph databases, which allow for more flexibility in storing and querying data. NoSQL databases are known 
for their scalability, flexibility, and ability to handle unstructured data.'''

In [ ]:
#Ques2: What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
'''DDL stands for Data Definition Language, which is a set of SQL commands used to define and modify the structure of a database. DDL commands are used to define
and modify the structure of a database, including creating, modifying, and deleting database objects such as tables and indexes. CREATE is used to create a new 
object, DROP is used to delete an existing object, ALTER is used to modify an existing object, and TRUNCATE is used to remove all data from a table while keeping 
its structure intact.

CREATE: The CREATE command is used to create a new database object, such as a table or index. For example, the following SQL statement creates a new table 
named "customers" with four columns: id, name, email, and phone.-'''
  CREATE TABLE customers (
      id INT PRIMARY KEY,
      name VARCHAR(50),
      email VARCHAR(100),
      phone VARCHAR(20)
  );

'''DROP: The DROP command is used to remove a database object, such as a table or index. For example, the following SQL statement drops the "customers" table
from the database:-'''
  DROP TABLE customers;

'''ALTER: The ALTER command is used to modify the structure of an existing database object, such as a table or view. For example, the following SQL statement 
adds a new column named "address" to the "customers" table:-'''
  ALTER TABLE customers ADD COLUMN address VARCHAR(100);

'''TRUNCATE: The TRUNCATE command is used to remove all data from a table, while keeping its structure intact. For example, the following SQL statement removes
all data from the "customers" table:-'''
  TRUNCATE TABLE customers;

In [ ]:
#Ques3: What is DML? Explain INSERT, UPDATE, and DELETE with an example.
'''DML stands for Data Manipulation Language, which is a set of SQL commands used to manipulate data within a database. DML commands are used to insert, update, 
and delete data in database tables. INSERT is used to insert new rows into a table, UPDATE is used to modify existing rows in a table, and DELETE is used to 
remove one or more rows from a table.

INSERT: The INSERT command is used to insert new rows into a table. For example, the following SQL statement inserts a new row into the "customers" table:-'''
  INSERT INTO customers (name, email, phone)
  VALUES ('John Doe', 'johndoe@example.com', '555-1234');

'''UPDATE: The UPDATE command is used to modify existing rows in a table. For example, the following SQL statement updates the phone number of the customer with
ID 123:-'''
  UPDATE customers
  SET phone = '555-5678'
  WHERE id = 123;

'''DELETE: The DELETE command is used to remove one or more rows from a table. For example, the following SQL statement deletes the customer with ID 456 from the 
"customers" table:-'''
  DELETE FROM customers
  WHERE id = 456;

In [ ]:
#Ques4: What is DQL? Explain SELECT with an example.
'''DQL stands for Data Query Language, which is a set of SQL commands used to query and retrieve data from a database. DQL commands are used to search, filter, 
and sort data stored in database tables. SELECT is used to retrieve data from one or more tables, and can be customized with filtering and sorting conditions to 
retrieve specific subsets of data.

SELECT: The SELECT command is used to retrieve data from one or more tables in a database. For example, the following SQL statement retrieves all rows from the
"customers" table:-'''
  SELECT * FROM customers;

In [ ]:
#Ques5: Explain Primary Key and Foreign Key.
'''The primary key of a table is used to ensure that each row in the table is unique and can be used to reference the row from other tables. The primary key is 
always indexed, which allows for fast searching and sorting of the data. In general, the primary key is created when the table is created, and it cannot be 
modified or removed later.'''
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    department VARCHAR(50),
    salary INT
);

'''A foreign key is a column or a set of columns in a table that refers to the primary key of another table. The foreign key establishes a relationship between 
the two tables, which allows for data to be shared between them. The foreign key is used to ensure that the data in the referencing table is consistent with the
data in the referenced table. The foreign key is always indexed, which allows for fast searching and sorting of the data.'''
CREATE TABLE orders (
    id INT PRIMARY KEY,
    customer_id INT,
    order_date DATE,
    total_amount DECIMAL(10,2),
    FOREIGN KEY (customer_id) REFERENCES customers(id)
);

In [ ]:
#Ques6: Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
'''To connect to MySQL from Python, we need to use a MySQL driver for Python. The most popular MySQL driver for Python is mysql-connector-python, which can be 
installed using pip:-''' 
pip install mysql-connector-python

'''below are the example of Python code that connects to a MySQL database and executes a simple query'''
import mysql.connector

# Connect to the MySQL database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a query
mycursor.execute("SELECT * FROM customers")

# Fetch the results
results = mycursor.fetchall()

# Print the results
for row in results:
  print(row)

In [ ]:
#Ques7: Give the order of execution of SQL clauses in an SQL query.
'''The order of execution of SQL clauses in an SQL query is as follows:-

1. FROM: The FROM clause specifies the table or tables from which the data is retrieved.

2. JOIN: If the query involves a join, the JOIN clause is executed next to combine the data from multiple tables.

3. WHERE: The WHERE clause is executed next to filter the data based on specified conditions.

4. GROUP BY: If the query involves grouping of data, the GROUP BY clause is executed next to group the data based on specified columns.

5. HAVING: If the query involves grouping of data, the HAVING clause is executed next to filter the grouped data based on specified conditions.

6. SELECT: The SELECT clause is executed next to select the columns that are included in the result set.

7. DISTINCT: If the query includes the DISTINCT keyword, the DISTINCT clause is executed next to remove duplicate rows from the result set.

8. ORDER BY: If the query includes the ORDER BY clause, the ORDER BY clause is executed next to sort the result set based on specified columns.

9. LIMIT/OFFSET: If the query includes the LIMIT and/or OFFSET keywords, the LIMIT and/or OFFSET clause is executed last to limit the number of rows returned 
  and/or to skip a certain number of rows in the result set.

It's worth noting that not all SQL queries include all of these clauses, and the order of execution can vary depending on the specific query. However, in 
general, this is the typical order of execution for a complex SQL query that includes multiple clauses.'''